altgraph==0.17.5
filelock==3.25.2
freetype-py==2.5.1
fsspec==2026.3.0
hsluv==5.0.4
imath==0.0.2
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
mpmath==1.4.1
networkx==3.6.1
Nuitka==4.0.7
numpy==2.4.4
opencv-python==4.13.0.92
OpenEXR==3.4.9
openexr_numpy==0.0.8
ordered-set==4.1.0
packaging==26.0
pefile==2024.8.26
pillow==12.2.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
setuptools==82.0.1
six==1.17.0
sympy==1.14.0
torch==2.9.1
typing_extensions==4.15.0
tzdata==2026.1
vispy==0.16.1
wxPython==4.2.5
xlsxwriter==3.2.9
zstandard==0.25.0
